
services:
  db:
    restart: always
    command: --default-authentication-plugin=mysql_native_password

  app:
    container_name: veda-server-prod
    build:
      context: .
      target: production
    restart: always
    ports:
      - "80:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M