@import "fonts.css";
@import "normalize.css";
@import "variables.css";

@import "blocks/alter.css";
@import "blocks/button.css";
@import "blocks/editor.css";
@import "blocks/layouts.css";
@import "blocks/form.css";
@import "blocks/login.css";
@import "blocks/modal.css";
@import "blocks/topbar.css";
@import "blocks/table.css";